$colorBackground: black;
$colorText: #dddade;

$colorPrimary: rgb(22, 116, 33);
$colorPrimaryAccent: rgb(16, 157, 32);
$colorTextOnPrimary: rgb(255, 255, 255);

$colorSecondary: rgb(22, 64, 116);
$colorSecondaryAccent: rgb(22, 85, 162);
$colorTextOnSecondary: rgb(255, 255, 255);

$mainFontSize: 14px;

body {
	padding: 0;
  margin: 0;
	font-family: sans-serif;
  background-color: $colorBackground;
  font-size: $mainFontSize;
  color: $colorText;

  .noScrollWrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
    max-height: 100%;
  }

  .statusHeader {
    padding: 10px 0 0 10px;
    display: flex;
  }

  .mainMenu {
    padding: 5px 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
    .menuButton {
      padding: 5px 10px;
      font-size: $mainFontSize;
      border-radius: 5px;
      border: 2px solid $colorPrimary;
      color: $colorTextOnPrimary;
      background-color: $colorPrimary;
      width: 100%;
    }
    .menuButton:active {
      border: 2px solid $colorPrimary;
      background-color: $colorPrimaryAccent;
    }
  }

  .functionSection {
    padding: 0px 10px 0px 10px;
    .actionButton {
      padding: 5px 10px;
      font-size: $mainFontSize;
      border-radius: 5px;
      border: 2px solid $colorSecondary;
      color: $colorTextOnSecondary;
      background-color: $colorSecondary;
    }
    .actionButton:active {
      border: 2px solid $colorSecondary;
      background-color: $colorSecondaryAccent;
    }

    .overviewDeviceList {
      overflow-x: auto;
      overflow-y: auto;
      max-height: 100%;
      th {
        background-color: #333;
        font-size: $mainFontSize;
      }
      tr {
        font-size: $mainFontSize;
      }
      tr:nth-of-type(odd) {
        background-color: #111;
      }
    
      tr:nth-of-type(even) {
        background-color: #222;
      }
    }


    
  }


  .detectionHeader {
    display: flex;
  }


}

.hidden {
  display: none;
}
